#centerme {
    text-align: center;
}

.halign {
        max-width: 500px;
        margin: auto;
        text-align: center;
}

#topaccount {
    text-align: center;
    padding: 20px;
}

#playername {
    color: mediumblue;
}

.card {
    border: solid white 1px;
}

body {
    background-color: #646464;
    color: #ffffff;
}

a {
    color: #74a6ff;
}

tbody tr:nth-child(odd) {
    background: #444444;
}

#list_title {
    padding-top: 2%;
    color: white;
    text-align: center;
}

html {
    background: #646464;
}