#centerme {
    text-align: center;
}

.halign {
        max-width: 500px;
        margin: auto;
        text-align: center;
}

#topaccount {
    text-align: center;
    padding: 20px;
}

#playername {
    color: mediumblue;
}

tbody tr:nth-child(odd) {
    background: #EEE;
}

#list_title {
    padding-top: 2%;
    text-align: center;
}