{% extends 'base_generic.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h1 id="centerme">{{ event.format }} - {{ event.date }}</h1>
            <h1 id="centerme">{{ account.first }} {% if account.nickname %}<q style="font-size: smaller">{{ account.nickname }}</q>{% endif %} {{ account.last }}</h1>
        </div>
    </div>
    <div class="row">
        <ul class="collection">
            <div class="col s6 m4">
                <li class="collection-item" id="topaccount">DCI: <strong>{{ account.dci }}</strong></li>
            </div>
            <div class="col s3 m4">
                <li class="collection-item" id="topaccount">{{ event.format|upper }} LEAGUE POINTS: <strong>{{ league_points }}</strong> </li>
            </div>
            <div class="col s3 m4">
                <li class="collection-item" id="topaccount">EVENT POINTS: <strong>{{ result.points }}</strong></li>
            </div>
        </ul>
    </div>
    <div class="row">
    {% for EventRound in rounds %}
        <div class="col s6 l3">
            <div class="card small">
            <div class="card-content" >
              <span id="centerme" class="card-title">Round {{ EventRound.roundNumber }}</span>
              <p id="centerme"><br><br>{% if EventRound.opp %}vs. <a href="/user/{{ EventRound.opp }}">{{ EventRound.opp_name }}</a>{% else %}Crushed the bye.{% endif %}</p>
            </div>
            <div class="card-action {% if EventRound.wins > EventRound.losses %}green{% elif EventRound.losses > EventRound.wins %}red{% else %}blue{% endif %}-text">
                <p id="centerme"><strong>{{ EventRound.wins }} / {{ EventRound.losses }} / {{ EventRound.draws }}</strong></p>
            </div>
          </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}