{% extends 'base_generic.html' %}

{% block content %}
  <header class="masthead bg-primary text-white text-center">
    <div class="container">
      <h1 class="text-center text-white">What are Phoenix Leagues?</h1>
      <hr class="star-light">
      <h4 class="text-center text-white"><a class="text-white" href="https://www.facebook.com/PhoenixComics/" target="_blank">Phoenix Comics NW</a> likes to add a little bit more excitement and competition to their weekly events.</h4>
      <h6>Every night you show up to play you earn points that count towards your final score (at no additional cost / you do NOTHING)! If you're interested in learning more please let us know in store or over <a class="text-secondary" href="https://www.facebook.com/PhoenixComics/" target="_blank">Facebook!</a></h6>
    </div>
  </header>

  <section id="points" class="text-center">
    <div class="container">
      <h3>How many points do I win?</h3>
      <hr class="star-dark">
      <h5>Modern / Legacy</h5>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Number of wins:</th>
            <th scope="col">Points Earned</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">4 Wins</th>
            <td>6 Points</td>
          </tr>
          <tr>
            <th scope="row">3 Wins</th>
            <td>4 Points</td>
          </tr>
          <tr>
            <th scope="row">2 Wins</th>
            <td>2 Points</td>
          </tr>
          <tr>
            <th scope="row">Less than 2 Wins</th>
            <td>1 Point</td>
          </tr>
        </tbody>
      </table>
      <hr>
      <h5>Competitive Commander (EDH)</h5>
      <p>Our CEDH are hosted by DSC_1, and work a little bit different for calculating points.</p>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Points Earned</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">I won the "winners" round</th>
            <td>1 Additional Point</td>
          </tr>
          <tr>
            <th scope="row">I won the round!</th>
            <td>1 Point Per Player (at your table)</td>
          </tr>
          <tr>
            <th scope="row">I showed up!</th>
            <td>1 Point</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section id="payouts" class="bg-primary text-white mb-0 text-center">
    <div class="container">
      <h1>Payout$</h1>
      <hr class="star-light">
    </div>
  </section>
{% endblock %}
