{% extends 'leagues/generic_base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">What are Phoenix Leagues?</h2>
                    <p class="card-text"><a href="https://www.facebook.com/PhoenixComics/">Phoenix
                        Comics NW</a> likes to add a little bit more excitement and competition to their weekly
                        events. Every night you show up to play you earn points that count towards your final score! If you're
                        interested in learning more please let us know in store or over Facebook!</p>
                    <br>
                    <p style="text-align: center">Current Leagues started on July 30th/August 2nd and will run for 8 weeks.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th>Record</th>
                    <th>Points</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>4 Wins</td>
                    <td>6 Points</td>
                </tr>
                <tr>
                    <td>3 Wins</td>
                    <td>4 Points</td>
                </tr>
                <tr>
                    <td>2 Wins</td>
                    <td>2 Points</td>
                </tr>
                <tr>
                    <td><strong>I showed up!</strong></td>
                    <td><strong>1 Point!</strong></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <div class="card grey darken-3">
                <div class="card-content white-text" id="centerme">
                    <span class="card-title">Current Payouts:</span>
                    <p>We pay out $1 for every player in our Monday (Modern) or Thursday (Legacy) events! Currently that's:</p>
                    <h5>${{ modpool }} <em>Modern</em> prize pool ({{ modern_players }} unique players)</h5>
                    <h5>${{ legpool }} <em>Legacy</em> prize pool ({{ legacy_players }} unique players)</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m10 offset-m1">
            <div class="card grey darken-3">
                <div class="card-content white-text" id="centerme">
                    <span class="card-title">Prizing Breakdowns:</span>
                    <br>
                    <h5>Prizing structure determined by the total number of unique players!</h5>
                </div>
                <div class="card-tabs">
                    <ul class="tabs">
                        <li class="tab"><a href="#7to12">7-12</a></li>
                        <li class="tab"><a href="#13to19">13-19</a></li>
                        <li class="tab"><a href="#20to29">20-29</a></li>
                        <li class="tab"><a href="#30to39">30-39</a></li>
                        <li class="tab"><a href="#40to49">40-49</a></li>
                        <li class="tab"><a href="#50to59">50-59</a></li>
                        <li class="tab"><a href="#60to69">60-69</a></li>
                        <li class="tab"><a href="#70to79">70-79</a></li>
                        <li class="tab"><a href="#80to100">80-100</a></li>
                        <li class="tab"><a href="#101to119">101-119</a></li>
                        <li class="tab"><a href="#120to139">120-139</a></li>
                    </ul>
                </div>
                <div class="card-content grey darken-2">
                    <div id="#7-12"><ol><li>1st: 70% [Modern: {{ modpool }}</li></ol></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}
