{% extends 'base_generic.html' %}

{% block content %}
  <header class="masthead text-center">
    <h1>{{ league_name }}</h1>
  </header>
  <div class="container">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Points</th>
        </tr>
        </thead>
        <tbody>
        {% for player in player_list %}
          <tr>
            <td>
              <strong>{{ player.place }}</strong>
            </td>
            <td>
              <strong>{{ player.first }} {% if player.nickname %}
                <q style="font-size: smaller">{{ player.nickname }}</q>{% endif %} {{ player.last }}</strong>
            </td>
            <td>
              {{ player.points }}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="container d-none d-xl-block">
      <div id="list_title">
        <p>See updated leagues anytime at: <strong><a href="http://phoenixleagues.online">phoenixleagues.online</a></strong></p>
      </div>
  </div>
{% endblock %}
