{% extends 'base_generic.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h1 id="centerme">{{ account.first }} {% if account.nickname %}<q style="font-size: smaller">{{ account.nickname }}</q>{% endif %} {{ account.last }}</h1>
        </div>
    </div>
    <div class="row">
        <ul class="collection">
            <div class="col s6 m4">
                <li class="collection-item" id="topaccount">DCI: <strong>{{ account.dci }}</strong></li>
            </div>
            <div class="col s3 m4">
                <li class="collection-item" id="topaccount"><a href="/modern" >MODERN LEAGUE</a>:
                    {% if modern_points > 0 %}
                        <i class="tiny material-icons">check_circle</i>
                    {% else %}
                        <i class="tiny material-icons">remove_circle</i>
                    {% endif %}
                </li>
            </div>
            <div class="col s3 m4">
                <li class="collection-item" id="topaccount"><a href="/legacy" >LEGACY LEAGUE</a>:
                    {% if legacy_points > 0 %}
                        <i class="tiny material-icons">check_circle</i>
                    {% else %}
                        <i class="tiny material-icons">remove_circle</i>
                    {% endif %}
                </li>
            </div>
        </ul>
    </div>
<!-- TODO: maybe add some sort of deck selection feature?
    <div class="row">
        {% if account.modern_deck != null %}
            <h5 id="centerme">Recently Seen Playing [MODERN]: {{ account.modern_deck }}</h5>
        {% else %}
            <h5 id="centerme">Recently Seen Playing [MODERN]: UNKNOWN</h5>
        {% endif %}
        {% if account.legacy_deck != null %}
            <h5 id="centerme">Recently Seen Playing [LEGACY]: {{ account.legacy_deck }}</h5>
        {% else %}
            <h5 id="centerme">Recently Seen Playing [LEGACY]: UNKNOWN</h5>
        {% endif %}
    </div>
-->
    <div class="row">
        <div class="col s4">
            <div class="card">
                <div class="card-content" id="centerme">Lifetime Points Average: <h5>{{ avg_points|floatformat:3 }}</h5></div>
            </div>
        </div>
        {% if legacy_points > 0 %}
        <div class="col s4">
            <div class="card">
                <div class="card-content" id="centerme">Legacy Points Average: <h5>{{ legacy_points|floatformat:3 }}</h5></div>
            </div>
        </div>
        {% else %}
        <div class="col s4">
            <div class="card">
                <div class="card-content" id="centerme">Legacy Points Average: <h5>No Events!</h5></div>
            </div>
        </div>
        {% endif %}
        {% if modern_points > 0 %}
        <div class="col s4">
            <div class="card">
                <div class="card-content" id="centerme">Modern Points Average: <h5>{{ modern_points|floatformat:3 }}</h5></div>
            </div>
        </div>
        {% else %}
        <div class="col s4">
            <div class="card">
                <div class="card-content" id="centerme">Modern Points Average: <h5>No Events!</h5></div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <h4 id="centerme">Recent Events:</h4>
    </div>
    <div class="row">
        {% for event in events %}
            <div class="col s6 m3 l2">
                    <ul class="collection with-header hoverable">
                        <li class="collection-header"><a href="/user/{{ account.dci }}/{{ event.event.pk }}" ><h5>{{ event.event.format }}</h5> <h6>{{ event.event.date }}</h6></a></li>
                        <li class="collection-item">{{ event.points }} points</li>
                        <li class="collection-item">{{ event.wins }} wins</li>
                    </ul>
                </div>
        {% endfor %}
    </div>
</div>
{% endblock %}